<h1>A list of posts should be here:</h1>


<% @posts.each do |post| %>
  <%= link_to post do %>
  <div>
    <%= post.id %>
    <%= post.title %>
    <%= post.url %>
    <%= post.created_at %>
    <%= link_to "link to this post", post %>
  </div>
  <% end %>
<% end %>

<%= link_to "New post", new_post_path %>