<h1><%= @post.title %></h1>
<h1>ID: <%= @post.id %></h1>
<h1>URL: <%= @post.url %></h1>
<h1>Email: <%= @post.user.email %></h1>
<h1>Date Created: <%= @post.created_at %></h1>

<h1>Create Comments Here</h1>

<%= form_for @comment do |f| %>
	<%= f.label :content %>
	<%= f.text_field :content %>
	<%= f.text_field :post_id, :value => @post.id, :hidden => true %>
	<%= f.submit "Submit New Comment" %>
<% end %>

<% @post.comments.each do |comment| %>
	<p>
		<%= comment.content %>
	</p>
<% end %>